<p>Editable List</p>
<sktn-editable-list 
  group="users" 
  name="departments" 
  label="Departments" 
  group_class="form-group"
  control_class="form-control"
  [editable]="true"
  [inline]="false">
</sktn-editable-list>

<p>Another Editable List</p>
<sktn-editable-list 
  group="users" 
  name="departments" 
  label="Departments" 
  [editable]="true"
  [inline]="false">
</sktn-editable-list>

<p>Uploader for Image</p>
<div style="height: 200px; width: 200px">
  <sktn-upload-image (onComplete)="uploadImage($event)"></sktn-upload-image>
</div>