@import 'theme.scss';

html,
body {
  font-family: 'Helvetica', sans-serif;
  display: flex;
  padding: 0;
  margin:0;
  height:100%;
  width:100%;
}

@import './sass/app/classes.scss';
@import './sass/app/general.scss';
@import './sass/app/forms';
@import './sass/app/panel';