$primary: #2196F3;
$secondary: #FFC107;

$border-color: lightgrey;
$text-muted: #6D6D6D;
$disabled-text: #aaa;

$add: green;
$view: lightseagreen;
$edit: #3b5998;
$remove: firebrick;

$header: 1.5rem;